
@{
    ViewBag.Title = "AdminLogin";
    Layout = "~/Views/Shared/_Header.cshtml";
}

<div id="main">
    <h2>Admin Login</h2>
    <form method="post">
        User Name: <input style="border:1px solid black" type="text" name="txtLogin" /><br /><br />
        Password: <input style="border:1px solid black" type="password" name="txtPassword" /><br /><br /><br />
        <input style="align-self:center" type="submit" value="Login" />
    </form>
</div>